.container{
    width: 600px;
    height: 150px;
    border: 5px solid #333;
    box-sizing:border-box;
    margin: 30px auto;
    padding: 5px;
    display: flex;
    /*flex-direction: column-reverse;*/
    /*flex-wrap:wrap;*/
    /*justify-content:space-evenly; */
    /*flex-start,flex-end,space-around,space-evenly,center*/
}
.container div{
    background-color: blue;
    margin: 2px;
    flex-grow:1;
}

.container div.Dua{
    flex-grow:2;
}